.right-layout {
  width: 50% !important;
}

.link-action .fr-content-inline {
  width: 500px !important;
}

.fr-container .fr-label {
  text-align: left;
}

.hidden_set_type,
.hidden_set_type .fr-content-inline,
.hidden_set_type .fr-content-inline .fr-item-wrapper {
  width: 80px !important;
}

.hidden-input-set {
  width: 100%;
  display: flex;
}